.users-container {
    margin: 20px auto;
    width: 30%;
}

h1 {
    text-align: center;
}

.userEmail {
    background: rgb(57, 149, 255);
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid black;
}

#dustbin {
    float: right;
    height: 25px;
    width: 25px;
    cursor: pointer;
}