.users-container {
    margin: 20px auto;
    width: 40%;
}

h1 {
    text-align: center;
}

.userEmail {
    background: rgb(57, 149, 255);
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    cursor: pointer;
    background: rgb(255, 56, 49);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 3px;
    align-content: flex-end;
}

@media screen and (max-width: 800px) {
    .users-container {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .users-container {
        width: 60%;
    }
}